doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")
    meta(name="author" content="Benjamin Krippner")
    meta(name="description" content="The absolute Youtube Ranomizer. Mit Optionen, Sprach Einstellung und vielen weiteren Features! .. um noch mehr und zufällige Videos anzuzeigen.")
    meta(name="keywords" lang="en" content="random youtube video,random video, random youtube, randomizer, benjamin krippner")
    meta(name="keywords" lang="de" content="zufälliges youtube video, zufalls video, random youtube video, random youtube, randomizer, benjamin krippner")
    meta(name="robots" content="nofollow")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title(itemprop="title") Random Youtube Video - Der absolute Youtube Randomizer
    link(rel='stylesheet', href='/stylesheets/bulma.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" type="image/png" href="/favicon.png" sizes="256x256")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(defer, src="https://use.fontawesome.com/releases/v5.9.0/js/all.js")
    script(type="text/javascript") !function(){window.JSESetLanguage="de";window.JSEManualCategory=0;window.JSENoAutoBannerBottom=1;var e=document,t=e.createElement("script"),s=e.getElementsByTagName("script")[0];t.type="text/javascript",t.async=t.defer=!0,t.src="https://load.jsecoin.com/load/154950/benjamin-krippner.de/0/0/",s.parentNode.insertBefore(t,s)}();
  body
    .main-content(style="height:100vh;")
      block hero
      block content
      #infoblock
        block info
      block description
    script(src="/javascripts/main.js")