body {
	padding: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	width: 100vw;
	height: 100vh;
	justify-content: center;
}

a {
	color: #00b7ff;
}

.vidcontainer {
	width: 100%;
	flex-grow: 0;
	min-height: 60%;
	height: 60%;
	margin: 0 auto;
	article.media {
		height: 100%;
		width: 100%;
		> * {
			height: 100%;
      width: 100vw;
      display:none;
      iframe {
        height: 100%;
        width: 100%;
      }
		}
		> .visible {
      display:block;
    }
	}
}

#GKVwmMlDeCdn {
	display: none;
	flex: 0;
}
body > iframe {
	display: none;
}
