extends ../layout

block hero
  .hero.is-small(style="min-height:5vh;")
    if !!vdata.snippet
      .hero-body(style="min-height:70px;height:14vmax;max-height:70px;")
        .container
          h2#videoTitle.title.is-6 #{vdata.snippet.title}
    .hero-foot
      .tabs.is-boxed.is-centered.is-medium.is-secondary
          ul
            li(onclick="changeto('home');" is="home")
              a.is-size-7-touch
                span.icon.is-small
                  i.fas.fa-home
                span.is-hidden-tablet.is-hidden-mobile Startseite
            li.is-hidden(onclick="changeto('toplist');" is="toplist")
              a.is-size-7-touch
                span.icon.is-small
                  i.fas.fa-list-ol
                span.is-hidden-tablet.is-hidden-mobile Toplisten
            li(onclick="changeto('settings');" is="settings")
              a.is-size-7-touch
                span.icon.is-small
                  i.fas.fa-cogs
                span.is-hidden-tablet.is-hidden-mobile Einstellungen
            li.is-active.is-action(onclick="changeto('video');" is="video")
              a.is-size-7-touch.has-background-link.has-text-dark(onclick="newVideo();") Random!

block content
  .vidcontainer(itemprop="content")
    article.media
      #video-st.visible(is="video")
        iframe#video.media-content(src=id frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        
      #frontpage-st(is="frontpage")
        iframe#video.media-content(src=id frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        a.sharehref Link
      #settings-st(is="settings")
        section.section
          .container.content
            h2 Einstellungen
            .label Suchergebnis Sprache
            .field
              .control.has-icons-left.has-icons-right
                .select.is-primary
                  select#language(name="language" style="transition:0.51s;transition-timing-function:ease-out;" onchange="change('lang',this.value,this);")
                    option(value="noop") Sprache
                    option(value="de") Deutsch
                    option(value="en") Englisch
                    option(value="ignore") Keine spezifische Sprache
                  .icon.is-small.is-left
                    i.fas.fa-globe
            .info Bei Auswahl wird die Einstellung die ausgewählt wurde gespeichert.
            //.label Muss Daten besitzen
            //.info Werden keine Daten benötigt, werden auch Videos anderer Sprachen angezeigt. Aber wenn möglich wird immer die ausgewählte Sprache angezeigt!
            //.field
            //  .control
            //    .select
            //      select#language(name="forceTitle" onchange="change('forceTitle',this.value);")
            //        option(value="noop") Daten
            //        option(value="true") Muss Daten haben
            //        option(value="ignore") Beides
            //        option(value="false") Soll keine Daten haben
      #home-st(is="home")
        section.section
          .container.content
            h1 Youtube Randomzer - Home
            h2 Was ist das hier?
            p Dies ist der ultimative absolute und definitive Youtube Randomizer. Er zeigt euch ein zufälliges bzw random Video aus meiner Datenbank sobald ihr auf dem "Random!" Button drückt. Ich empfehle euch die Suche auf Deutsch einzustellen unter Einstellungen. Falls ihr Anregungen habt, Verbesserungsvorschläge, vllt. ein Lob oder Kritik etc. könnt ihr mich über Twitter anschreiben!
            p Youtube Videos werden sehr oft doppelt und dreifach angezeigt, also hatte ich die Idee das mein PC einfach immer wieder die Youtube Seite und Videos uafruft, diese crawlt und dann in eine Datenbank abspeichert damit am Ende ich einfach nurnoch F5 drücken muss um ein neues Video zu bekommen. Es wird demnächst auch noch eine mobile App Version des Randomizers rauskommen.
            p Das nächste Ziel was auf jedenfall kommen wird ist die Randomzer Startseite auf der mehrere videos angezeigt werden und eine Kategorie Auswahl! Damit ihr nicht einfach immer wieder Random drücken müsst und nichts findet, denke ich sind diese Features Essentiel!
            h2 Upcoming
            p Features die in Plannung sind:
            ul
              li Multi Random Landing Page mit vielen zufälligen Youtube Videos!
              li Toplisten in verschiedenen Sprachen
              li Tag Suche/Filter
              li Intelligente Suche/Filter
              li Simple Suche/Filter
              li Eigene Topic Kanäle
              li Kategorie Filter
              li Seeded Randomness
            p Derzeitig sind #{vdata.videos} Videos in der Datenbank.
            p Davon sind #{vdata.dataless} Videos ohne Daten von Youtube.
            p Falls ihr was inspirirendes zu sagen habt, schreibt mir über Twitter! 
            p Gemacht mit
            .tags
              .tag.is-info Express
              .tag.is-success NodeJS
              .tag.is-warning Pug
              .tag MongoDB
              .tag.is-primary Bulma
            span.icon
              i.fab.fa-twitter
            a(href="https://twitter.com/bkrippner") @bkrippner.de
            span.icon
              i.fas.fa-home
            a(href="https://benjamin-krippner.de") benjamin-krippner.de
      //#toplist-st(is="toplist")
      //  section.section
      //    .container
      //     h1 Toplist


block info
  div.hero.is-red.is-small
    div.level.hero-body.is-center.is-mobile
      if !!vdata.statistics
        div.level-item.has-text-centered
          div
            .heading Views
            #viewCount.title.is-size-5-desktop.is-size-7-mobile.is-size-6-tablet #{vdata.statistics.viewCount}
        div.level-item.has-text-centered
          div
            .heading Likes
            #likeCount.title.is-size-5-desktop.is-size-7-mobile.is-size-6-tablet #{vdata.statistics.likeCount}
        div.level-item.has-text-centered
          div
            .heading Dislikes
            #dislikeCount.title.is-size-5-desktop.is-size-7-mobile.is-size-6-tablet #{vdata.statistics.dislikeCount}
        .level-item.has-text-centered
          div
            .heading Teilen!
            a.sharehref( href=`http://youtube.benjamin-krippner.de/watch?w=` + vdata.key ) Link!
  
block description
  .container
    p#videoDescription(style="margin:auto;max-width:620px;") !{vdata.snippet.description}