extends ../layout

block hero
  .hero.is-small
    .hero-body
      .container
        h1.title.is-6 Youtube Video
    .hero-foot
      .tabs.is-boxed.is-centered.is-medium.is-secondary
          ul
            li
              a.is-size-7-touch
                span.icon.is-small
                  i.fas.fa-home
                span.is-hidden-tablet.is-hidden-mobile Startseite
            li
              a.is-size-7-touch
                span.icon.is-small
                  i.fas.fa-list-ol
                span.is-hidden-tablet.is-hidden-mobile Toplisten
            li.is-active
              a.is-size-7-touch(href="./youtube") Random me!
            li
              a.is-size-7-touch
                span.icon.is-small
                  i.fas.fa-cogs
                span.is-hidden-tablet.is-hidden-mobile Einstellungen

block content
  article.media
    iframe.media-content(src=id frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)

block info
  div.hero.is-black.is-small
    div.level.hero-body.is-center
      div.level-item.has-text-centered
        div
          .heading Views
          .title Keine Daten
      div.level-item.has-text-centered
        div
          .heading Likes
          .title Keine Daten
      div.level-item.has-text-centered
        div
          .heading Dislikes
          .title Keine Daten